[Unit]
Description=prometheus
After=network-online.target

[Service]
User=root
Restart=on-failure
WorkingDirectory={{ soft_path }}/prometheus
ExecStart={{ soft_path }}/prometheus/prometheus

[Install]
WantedBy=multi-user.target
